.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    width: 500px;
    background-color: #f9f9f9;
    overflow: hidden;
    margin: 0 0 10px 0;
}

.profile{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profileImg{
    border-radius: 50%;
    width: 50%;
    background-color: darkgrey;
    padding-top: 10px;
}

.profileName{
    font-size: 24px;
    font-weight: bold;
}

.profileInfo{
    color: gray;
    font-size: 18px;
}

.list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 100%;
    border-top: 2px solid darkgrey;
}

.listItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
    width: calc((100% - 4px) / 3 );
    border-left: 2px solid darkgrey;
    padding: 10px;
    font-size: 18px;
}
.listItem:first-child {
    border-left: none;
}

.listItemInfo{
    font-weight: bold;
}